@import "../commonStyles/_background"

.form
    text-align: left
    width: 200px
    @include background

    &__input
        display: block
        width: 120px

    &__warning
        font-size: 12px
        height: 13px
        margin-top: 2px

    .invalid
        text
        background-color: pink

    .hidden
        visibility: hidden
