@import "../commonStyles/_background"

.list
    @include background
    padding: 20px

    &__header
        height: 25px
        background-color: red

    &__wrapper
        height: calc(100% - 25px)
        overflow-y: scroll
