@mixin background
    background-color: #6685ff
    color: #232b2b
    padding: 20px
    padding-top: 5px
    margin: 20px
    border-radius: 10px
    box-shadow: 4.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.30)