@import "../commonStyles/colors"

.header
    display: flex
    justify-content: space-between
    height: 30px
    width: 100%
    padding-top: 10px
    position: fixed
    top: 0
    right: 0
    background-color: $card-background
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%)

    &__app-name
        margin-left: 30px

    &__navigation
        display: flex
        margin-right: 20px
        margin-top: -3px

    &__link
        display: block
        height: 15px
        padding: 4px 5px 6px 5px
        margin-right: 7px
        border-radius: 5px
        text-decoration: none
        color: $text-primary
    
        &:last-of-type
            padding: 1px 5px 9px 5px

            &:hover
                background-color: #8492c1
            &:active
                color: black

    .active
        background-color: #bfc8ed
